* {
  margin: 0px;
}
.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

/* header section */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 25px 100px 25px;
}

nav h3 {
  font-size: 28px;
  font-weight: 800;
}

nav .nav-btn {
  border: 1px solid rgb(13, 19, 33);
  border-radius: 8px;
  background-color: white;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  width: 180px;
  height: 45px;
}

nav .nav-btn:hover {
  background-color: rgb(216, 216, 216);
}

.banner {
  height: 580px;
  max-height: 652px;
  background-image: url("../assets/Hero-bg.png");
  background-repeat: no-repeat;
  background-position: top left;
}
.banner-content {
  text-align: center;
  width: 990px;
  margin: auto;
}
.banner img {
  width: 170px;
  margin-top: 26px;
  margin-bottom: 32px;
}

.banner h2 {
  font-size: 42px;
  font-weight: 800;
  margin-bottom: 32px;
}

.banner p {
  font-size: 16px;
  font-weight: 400;
  padding: 0px 100px;
  margin-bottom: 32px;
}

.banner-content a {
  text-decoration: none;
}

.banner-content button {
  border: none;
  border-radius: 8px;
  background: rgb(13, 19, 33);
  color: white;
  font-size: 16px;
  font-weight: 600;
  padding: 18px 24px 18px 24px;
}

/* end of header section */

main {
  max-width: 1140px;
  margin: 0 auto;
}

main section {
  margin-top: 130px;
  margin-bottom: 130px;
}

/* why web dev section  */
.why-web {
  border-radius: 16px;
  background: rgba(13, 19, 33, 0.04);
  text-align: center;
}
.non-card {
  padding: 30px 150px;
}

.why-web h2 {
  font-size: 32px;
  font-weight: 800;
  color: rgb(13, 19, 33);
  margin-bottom: 24px;
}

.why-web p {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 40px;
}

.why-card-left {
  border-radius: 16px;
  background: linear-gradient(
    90deg,
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0) 100%
  );
  display: flex;
  justify-content: space-around;
  gap: 40px;
  padding: 30px;
  text-align: left;
  margin-bottom: 20px;
}
.why-card-right {
  border-radius: 16px;
  background: linear-gradient(
    270deg,
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0) 100%
  );
  display: flex;
  justify-content: space-around;
  gap: 40px;
  padding: 30px;
  text-align: left;
  margin-bottom: 20px;
}

.why-card-h3 {
  color: rgba(13, 19, 33, 0.7);
  font-family: Azeret Mono;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}

.why-card-p {
  font-size: 16px;
  font-weight: 400;
}

.why-card-left button {
  border: 1px solid rgb(13, 19, 33);
  opacity: 0.7;
  font-size: 16px;
  font-weight: 400;
  padding: 10px;
}

.why-card-right button {
  border: 1px solid rgb(13, 19, 33);
  opacity: 0.7;
  font-size: 16px;
  font-weight: 400;
  padding: 10px;
}
